@inject eqranews.client.mvc.Data.IDAL _dal;
@model  List<DAL.Store.News>
    <!-- grid box -->
    <div class="grid-box" dir="ltr">

        <div class="title-section">
            <h1><span>Today's Featured</span></h1>
        </div>

        <ul class="category-filter-posts">
            <li><a class="active" href="#">All</a></li>
            <li><a href="#">Election</a></li>
            <li><a href="#">Nations</a></li>
            <li><a href="#">World U</a></li>
            <li><a href="#">Politics</a></li>
        </ul>

        <div class="image-post-slider">
            <ul class="bxslider">
                <li>
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="upload/news-posts/slide1a.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <a class="category-post" href="politics-category.html">Nation</a>
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="upload/news-posts/slide2a.jpg" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <a class="category-post" href="politics-category.html">Election</a>
                                    <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">John Doe</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>872</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-posts">
                    <li>
                        <img src="upload/news-posts/list1.jpg" alt="">
                        <div class="post-content">
                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <img src="upload/news-posts/list2.jpg" alt="">
                        <div class="post-content">
                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <img src="upload/news-posts/list3.jpg" alt="">
                        <div class="post-content">
                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul class="list-posts">
                    <li>
                        <img src="upload/news-posts/list4.jpg" alt="">
                        <div class="post-content">
                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <img src="upload/news-posts/list5.jpg" alt="">
                        <div class="post-content">
                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <img src="upload/news-posts/list6.jpg" alt="">
                        <div class="post-content">
                            <h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="center-button">
            <a href="#"><i class="fa fa-refresh"></i> More from featured</a>
        </div>

    </div>
    <!-- End grid box -->