body {
  direction: rtl; }

@media (min-width: 768px) {
  .navbar-nav > li {
    float: right; } }

.navbar-form button {
  right: unset;
  left: 13px; }

.theiaStickySidebar:after {
  content: "";
  display: table;
  clear: both; }

ul.list-posts > li img, ul.list-posts > li .empty-img {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  float: right; }

ul.list-posts > li .empty-img {
  background: url(/images/pattern.png) no-repeat center/cover; }

ul.list-posts > li .post-content h2 {
  text-align: right; }

ul.post-tags li {
  text-align: right;
  float: right; }

.article-post .post-content h2 a, .article-post .post-content p, .article-post .post-content .source {
  text-align: right;
  width: 100%; }

.tab-rtl {
  padding: 0;
  margin-bottom: 10px;
  text-align: right; }
  .tab-rtl li {
    float: right; }

/*
body {
    background: #222
}*/
.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10; }

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7); }

.title-section h1 span {
  text-align: right;
  width: 100%; }

.single-post-box img {
  width: 100%; }
