body {
  direction: rtl; }

@media (min-width: 768px) {
  .navbar-nav > li {
    float: right; } }

.navbar-form button {
  right: unset;
  left: 13px; }

.theiaStickySidebar:after {
  content: "";
  display: table;
  clear: both; }
